/**
 * @file
 * Administration styles for the Facet API module.
 */

/*
 * Facet API overview page
 */
#facetapi-groups-list {
  margin-bottom: 2em;
}
#facetapi-groups-list tr {
  border-bottom: none;
}

#facetapi-groups-list tr.facet-source {
  border-top: 1px solid #e6e4df;
}
#facetapi-groups-list tr.facet:last-of-type {
  border-bottom: 1px solid #e6e4df;
}

#facetapi-groups-list tr.facet-source .facetapi-type,
#facetapi-groups-list tr.facet-source .search-api-title {
  font-weight: bold;
}
#facetapi-groups-list tr.facet .facetapi-type {
  padding-left: 3em;
}


/*
 * Facet API Display page
 */
.facetapi-processor-settings-sorting {
  margin-bottom: -7px;
  margin-left: 20px;
  margin-top: -16px;
}

.facetapi-processor-settings-facet {
  margin-left: 20px;
  margin-bottom: 20px;
}